{% extends "::base.html.twig" %}


{% block content %}
{{ parent() }}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="list-group">
					{% for post in posts %}
						<li class="list-group-item {% if loop.first %} active {% endif %}">
							<h1>{{ post.title | title }}
								Nº :
								{{loop.index0}}</h1>
								<img width="100px" src="{{ post.image.url }}" alt="{{ post.image.alt }}">
							<p>
								{{ post.description }}
							</p>

							<span class="badge badge-secondary">
								{{ post.author.lastname }} {{ post.author.firstname }}</span>
							<hr>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
