{% extends "::base.html.twig" %}


{% block content %}
{{ parent() }}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<ul class="list-group">
					{% for article in articles %}
						<li class="list-group-item {% if loop.first %} active {% endif %}">
							<h1>{{ article.titre | title }}
								Nº :
								{{loop.index0}}</h1>
							<p>
								{{ article.post }}
							</p>

							<small>{{ article.datepublication | date("d/m/Y")}}</small>
							<span class="badge badge-secondary">
								{{ article.post | length}}</span>
							<hr>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
