<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		{# {% if id == 1 %}
						    <h1>{{ titre }}
								Nº :
								{{id}}</h1>
							<p>
								{{ post }}
							</p>
							<hr>
						    {% elseif id == 2 %}
						        <h1> le id est 2</h1>
						        {% else %}
						            <h1>le id est different de 1</h1>
						{% endif %}
							
							<small>{{datepublication}}</small> #}

		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="list-group">
						{% for article in articles %}
							<li class="list-group-item {% if loop.first %} active {% endif %}">
								<h1>{{ article.titre | title }}
									Nº :
									{{loop.index0}}</h1>
								<p>
									{{ article.post }}
								</p>
                                
								<small>{{ article.datepublication | date("d/m/Y")}}</small>
                                <span class="badge badge-secondary"> {{ article.post | length}}</span>
								<hr>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
