<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		{# {% if id == 1 %}
		    <h1>{{ titre }}
				Nº :
				{{id}}</h1>
			<p>
				{{ post }}
			</p>
			<hr>
		    {% elseif id == 2 %}
		        <h1> le id est 2</h1>
		        {% else %}
		            <h1>le id est different de 1</h1>
		{% endif %}
			
			<small>{{datepublication}}</small> #}

		{% for article in articles %}
			<h1>{{ article.titre }}
				Nº :
				{{article.id}}</h1>
			<p>
				{{ article.post }}
			</p>
            <small>{{article.datepublication}}</small> 
			<hr>
		{% endfor %}
	</body>
</html>
